<p>clients works!</p>

<a [routerLink]="'/user'">User Link</a>
<table class="table">
    <thead>
        <tr>
            <th>clientId</th>
            <th>firstName</th>
            <th>lastName</th>
            <th>gender</th>
            <th>salary</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let client of clients">
            <td>{{client.clientId}}</td>      
            <td>{{client.firstName}}</td>     
            <td>{{client.lastName}}</td>     
            <td>{{client.gender}}</td>     
            <td>{{client.salary}}</td>  
            
            <!-- static routerLinks -->
                       
            <td><a [routerLink]="'/edit'">edit </a> | <a [routerLink]="'/delete'">delete</a></td>
            
            
            <!-- dynamic routerLinks -->
            <td>
                <a [routerLink]="['/user',client.clientId,'edit']">edit</a>
              | <a [routerLink]="['/user' , client.clientId,'delete' ]"> delete</a>
              | <a [routerLink]="['/user',client.firstName,'save']">save</a>


            </td>   
            
              
        </tr>
    </tbody>
</table>