
<div class="container  text-center ">

    <h1>Routing and Navigation</h1>
    
</div>

<h1>These are the example of the Routing</h1>
<nav>
    <a class="btn btn-danger" routerLink='/department'>Department</a>
 &nbsp;
 <a class="btn btn-danger" routerLink='/employe'>Employee</a>
</nav>
<br>


<br>
<br>

<h1>These are the example of the lazy loading</h1>


<nav>
    <a class="btn btn-info"  routerLink='/orders'>Load orders</a>&nbsp;
    <a class="btn btn-info" routerLink='/dispach'>Load about</a>
</nav>

<router-outlet></router-outlet>






